<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Flask Simple Site</title>
</head>
<body>
    <header>
        <h1>어서오세요 저의 웹사이트에~~</h1>
        <nav>
            <a href="/">Home</a> | 
            <a href="/info">info</a>
        </nav>
    </header>
    <section>
        <p>[10기_웹해킹] 우상범__웹사이트 제작</p>
        <button onclick="history.back()">Go Back</button>
    </section>
</body>
</html>
